altgraph==0.17.3
asgiref==3.6.0
comtypes==1.1.14
Django==4.2.1
django-cors-headers==4.1.0
django-filter==23.2
djangorestframework==3.14.0
Faker==18.7.0
gunicorn==21.2.0
Markdown==3.4.3
mysql-connector-python==8.0.33
mysqlclient==2.1.1
packaging==23.2
pefile==2023.2.7
Pillow==9.5.0
sqlparse==0.4.4
tzdata==2023.3
whitenoise==6.6.0
xlwt==1.3.0
